IMAGE=registry.cn-hangzhou.aliyuncs.com/sh-cloud/hq-project-demo:latest
SERVICE_NAME=hq-project-demo
APP_ENV=prod
PORT=8080
APP_LISTEN=127.0.0.1:8080
JOB_NAME=manual
BUILD_NUMBER=0
BUILD_URL=
GIT_COMMIT=unknown

